<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head lang="en">

</head>


<body>

    <nav th:fragment="header" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="" style="float:left;width:75%;overflow: hidden; ">
            <ul class="nav navbar-nav index_logo">
                <a class="navbar-brand" href="#" th:href="@{/}"
                   style="font-family: 'Pacifico', cursive; font-size: 2em; font-weight: 400;">instant
                </a>
            </ul>
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-facebook"></i>
            </button>
            &nbsp;
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right" style="padding: 0px 15px 0px 5px">
            <li th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">
                <form th:case="${false}" action="/signin/facebook" method="POST" class="connectForm">
                    <input type="hidden" name="scope" value="" />
                    <button type="submit" class="btn btn-block connectButton" id="connectFb" style="background-color: transparent; font-family: 'Pacifico', cursive; font-size: 1.2em; padding-top: 9px; padding-bottom: 6px;">
                        Login via
                        <span class="fa-stack" style="color:#3B5998;">
                            <i class="fa fa-square-o fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x" ></i>
                        </span>
                    </button>
                </form>

                <div th:case="${true}">
                    <span class="fa-stack" style="color:#3B5998;">
                        <img src="http://lorempixel.com/33/33" style="border-radius: 18px;"/>
                    </span>
                    teodor rupi
                    <span class="fa-stack" style="color:#3B5998;">
                        <i class="fa fa-chevron-down fa-stack-1x"></i>
                    </span>
                </div>

            </li>
        </ul>
    </div>


            <!--<div class="formInfo">-->
                <!--You are not yet connected to Facebook.-->
            <!--</div>-->
            <!--<button class="connectButton" type="submit"><img src="/spring-social-popup/resources/social/facebook/connect_light_medium_short.gif"/></button>-->

            <!--<p class="connectionOptions"><label for="postToWall"><input id="postToWall" type="checkbox" name="postToWall" /> Tell your friends about Spring Social Popup on your Facebook wall</label></p>-->

    </nav>

</body>
</html>