<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div class="row" style="margin-left: 15px; margin-right: 15px; margin-top: 15px;">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="panel-more1">
                    <img src="http://lorempixel.com/150/150"/>
                    <br/><span>Food X</span>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <td>
                                <div class="panel-info right-line">
                                    <p><strong>Tel: 011-345-898</strong></p>

                                    <p>9182 Lorem Ipsum<br/>
                                        consectetur adipiscing elit.<br/>
                                        Nullam vel lacus felis.</p>

                                </div>
                            </td>
                            <td>
                                <div class="panel-rating" style="float:left;">
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>

                                    <p>Rating of the Restaurant</p>
                                </div>
                                <div class="panel-info" style="float:left; clear: left;">
                                    <p>Price: €50</p>
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-default btn-lg">
                                    <span class="glyphicon glyphicon-new-window" arial-hidden="true"></span>
                                </button>

                            </td>

                        </tr>
                        <tr>
                            <td>
                                <div class="panel-info right-line">
                                    <p><strong>Tel: 011-345-898</strong></p>

                                    <p>9182 Lorem Ipsum<br/>
                                        consectetur adipiscing elit.<br/>
                                        Nullam vel lacus felis.</p>

                                </div>
                            </td>
                            <td>
                                <div class="panel-rating" style="float:left;">
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>

                                    <p>Rating of the Restaurant</p>
                                </div>
                                <div class="panel-info" style="float:left; clear: left;">
                                    <p>Price: €50</p>
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-default btn-lg">
                                    <span class="glyphicon glyphicon-new-window" arial-hidden="true"></span>
                                </button>

                            </td>

                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>