<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>

</head>
<body>
    <div class="row" th:fragment="itemlist_product_item" style="margin-left: 15px; margin-right: 15px; margin-top: 15px;">
        <div class="row">
            <!--item starts here-->
            <div class="panel panel-default" style="border:0px; -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .05); box-shadow: 0 0px 0px rgba(0, 0, 0, .05);">
                <div class="panel-body" style="border:1px  solid rgba(204, 204, 204, 0.57); padding-top:10px; padding-bottom:10px;">
                    <div class="panel-more1" style="border:border:1px  solid rgba(204, 204, 204, 0.57); margin: 0 0 0 10px;">
                        <img src="http://lorempixel.com/182/126" />
                        <!-- style="padding: 4px; border: 1px solid #e6e6e6;" FOR IMAGE CORNER.-->
                        <!--<span th:text="${venue.name}">Demo</span>-->
                    </div>
                    <div class="table-responsive">
                        <table class="table" style="margin-bottom: 0px; ">
                            <tr>
                                <td style="border:0px; padding:0px;">
                                    <div class="panel-info right-line" >
                                        <p ><strong style="font-size: 23px; font-height:16px;line-height:1;font-style:normal;" th:text="${venue.name}">Demo</strong><sup style="font-style:bold; color: #999999;" th:text="| by ${venue.company}|"> demo</sup></p>
                                        <p style="color:#999999;margin-top:-10px;" th:text="|${venue.category}; speciality, speciality, speciality|">Category; speciality, speciality, speciality</p>
                                        <p style="color:#777777;"><i class="fa fa-map-marker"></i> <span th:text="${venue.address}">Friendrichstr, near the stadium, Berlin, Germany</span> | <span>Map</span></p>
                                        <p style="color:#777777;margin-top:-10px;"><i class="fa fa-phone"></i> <span th:text="${venue.phonePrimary} + ' | ' + ${venue.phoneSecondary}">+0522 25965 | +0522 36507</span></p>
                                        <p style="color:#777777;margin-top:-10px;"><i class="fa fa-envelope"></i> <span th:text="${venue.email}">restaurant-abs@hotmail.com</span></p>
                                    </div>
                                </td>
                                <td style="border:0px; padding:0px; border-left:1px  solid rgba(204, 204, 204, 0.57);">
                                    <div class="panel-info right-line">
                                        <p ><strong style="font-size: 15px; font-height:16px;line-height:1;font-style:normal;" th:text="|${venue.rating} Stars|">Demo</strong></p>
                                        <p ><strong style="font-size: 15px; font-height:16px;line-height:1;font-style:normal;" > Open </strong></p>
                                        <p ><strong style="font-size: 15px; font-height:16px;line-height:1;font-style:normal;"> <a th:href="@{/item}">Website</a> </strong></p>

                                    </div>
                                </td>
                            </tr>


                        </table>


                    </div>
                    <br/>

                    <!--<button type="button" class="btn btn-primary btn-lg-cool btn-block" style="margin-left:7px;">Website</button>-->

                </div>
            </div>
        </div>
    </div>
</body>

</html>