<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head lang="en">

</head>
<body>

    <div th:fragment="seo" class="row" style="margin-top:50px;">
        <div class="col-md-12">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-10 col-md-offset-1 col-xs-12 col-sm-12" id="seo_block" style="border: 1px solid rgba(204, 204, 204, 0.57); background-color: white; ">
                    <style>
                    .seo-primary{
                    border-bottom:1px solid rgba(204, 204, 204, 0.57);
                    }

                    a.seo-atag:hover{
                        text-decoration:none;
                        }

                        .overlay {
                        position: relative;
                        }

                        .overlay:after {
                        position: absolute;
                        content:"";
                        top:0;
                        left:0;
                        width:100%;
                        height:100%;
                        opacity:0;
                        }

                        .overlay:hover:after  {
                        opacity: .2;
                        }

                        .grey:after {
                        background-color: rgba(204, 204, 204, 0.57);
                        }
                </style>
                    <div class="row seo-primary">
                    <div class="col-md-4">
                        <br/>
                        <a href="#" onclick="triggerSeoSearch('fish')" class="seo-atag">
                        <div class="thumbnail overlay grey" style="border:none;">

                                <img src="../../../../main/webapp/resources/img/img01.jpg" th:src="@{/img/img-fish.jpg}" alt="..."/>
                                <div class="caption">
                                    <h3 style="text-align: center;">Sea Food</h3>
                                    <p style="text-align: center;color: #999; line-height: normal; font-size: 12px;">
                                        Find the best places to enjoy the products of the sea, grilled or baked or fried, always fresh and delicious.</p>
                                </div>

                        </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <br/>
                        <a href="#" onclick="triggerSeoSearch('meat')" class="seo-atag">
                            <div class="thumbnail overlay grey">

                                <img src="../../../../main/webapp/resources/img/img02.jpg" th:src="@{/img/img-meat.jpg}" alt="..."/>
                                <div class="caption">
                                    <h3 style="text-align: center;">Meat Dishes</h3>
                                    <p style="text-align: center; color: #999; line-height: normal; font-size: 12px;">
                                        Check what these great restaurants have to offer when it comes to everything about meat! </p>
                                </div>
                            </div>
                        </a>

                    </div>
                    <div class="col-md-4">
                        <br/>
                        <a href="#" onclick="triggerSeoSearch('pizza')" class="seo-atag">
                        <div class="thumbnail overlay grey">

                                <img src="../../../../main/webapp/resources/img/img03.jpg" th:src="@{/resources/img/img-pizza.jpg}" alt="..."/>
                                <div class="caption">
                                    <h3 style="text-align: center;">Pizza</h3>
                                    <p style="text-align: center; color: #999; line-height: normal; font-size: 12px;">
                                        Find all the pizza places in town, filter to get the best or closest to your area. </p>
                                </div>

                        </div>
                        </a>
                    </div>
                </div>
                    <div class="row seo-secondary-row">
                    <div class="col-md-4">
                        <br/>
                        <a href="#" onclick="triggerSeoSearch('oriental')" class="seo-atag">
                        <div class="thumbnail overlay grey" style="border:none;">

                                <img src="../../../../main/webapp/resources/img/img01.jpg" th:src="@{/resources/img/img-sushi.jpg}" alt="..."/>
                                <div class="caption">
                                    <h3 style="text-align: center;">Oriental Food</h3>
                                    <p style="text-align: center;color: #999; line-height: normal; font-size: 12px;">
                                        Never tried sushi before? These oriental restaurants will change your mind </p>
                                </div>

                        </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <br/>
                        <a href="#" onclick="triggerSeoSearch('night club')" class="seo-atag">
                        <div class="thumbnail overlay grey">

                                <img src="../../../../main/webapp/resources/img/img02.jpg" th:src="@{/resources/img/img-pub.jpg}" alt="..."/>
                                <div class="caption">
                                    <h3 style="text-align: center;">Night Clubs</h3>
                                    <p style="text-align: center; color: #999; line-height: normal; font-size: 12px;">
                                        Find the best and most popular events of the night. Search for night clubs and pubs to dance, drink and enjoy the music with your friends.</p>
                                </div>

                        </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <br/>
                        <a href="#" onclick="triggerSeoSearch('bar')" class="seo-atag">
                        <div class="thumbnail overlay grey">

                                <img src="../../../../main/webapp/resources/img/img03.jpg" th:src="@{/resources/img/img-bar.jpg}" alt="..."/>
                                <div class="caption">
                                    <h3 style="text-align: center;">Bars</h3>
                                    <p style="text-align: center; color: #999; line-height: normal; font-size: 12px;">
                                        Search for the best places to relax and enjoy a drink, from the most relaxing atmospheres to luxury lounges and piano bars.</p>
                                </div>

                        </div>
                        </a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>